:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #EE4D2D;
  --border-color: #DBDBDB;

  --header-height: 120px;
  --navbar-heigth: 34px;
  --header-with-search-heght: calc(var(--header-height) - var(--navbar-heigth));
}

* {
  box-sizing: initial;
}

html {
  font-size: 62.5%;
  /*Tip: tương đương: 10px */
  line-height: 1.6rem;
  /* tương đương 16px vì font-size : đang 10px */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Reponsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }

  to {
    transform: scale(var(--growth-to));
  }
}

/* Bỏ gạch chân thẻ a */
a {
  text-decoration: none;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  position: relative;
  margin: auto;
  z-index: 1;
  animation: growth linear 0.1s;
}


/* button */
.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disabled {
  cursor: default;
  background-color: #666;
}