.header {
  height: 120px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: nonde;
  padding-left: 0;
  margin-top: 4px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  /* 15px */
  color: var(--white-color);
  text-decoration: none;
  /* Bỏ gạch chân */
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item--icon {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-item--icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--icon {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item--icon-link {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item--strong {
  font-weight: 500;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9068;
  height: 12px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-item-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
